.mtk16 {
    font-weight: bold;
    color: transparent;
    background: linear-gradient(28deg, rgba(251, 86, 117, 1) 0%, rgba(213, 90, 236, 1) 100%);
    background-clip: text;
}

.monaco-editor .detected-link, .monaco-editor .detected-link-active {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-style: dashed;
}

.mtk10 {
    color: #bb9af7;
    font-style: italic;
    font-weight: 500;
}

.mtk6 {
    color: #75beff;
}

.mtk7 {
    color: #9ece6a;
    background: linear-gradient(0deg, rgba(6, 252, 255, 1) 50%, rgba(175, 255, 107, 1) 90%, rgba(253, 187, 45, 1) 100%);
    background-clip: text;
    font-weight: 500;
}

.mtk22 {
    color: #7aa2f7;
    font-weight: 500;
    font-style: italic;
}

.mtk19 {
    color: transparent;
    background: linear-gradient(90deg, rgba(176, 122, 237, 1) 0%, rgba(252, 70, 107, 1) 100%);
    background-clip: text;
    font-weight: 500;
}